
<div class="container my-5">
    <ul class="nav nav-tabs nav-pills nav-justified">
        <li class="nav-item">
          <a class="nav-link btn bg-dark" [ngClass]="{'active bg-dark' : section_pro}" (click)="changeSection('pro')">Professionels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" [ngClass]="{'active bg-dark' : section_garage}" (click)="changeSection('garage')">Garages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" [ngClass]="{'active bg-dark' : section_advert}" (click)="changeSection('advert')">Annonces</a>
        </li>
      </ul>
</div>

<router-outlet></router-outlet>
