<div class="container">
    <div class="col-md-8 mx-auto">
        <h5 class="text-center p-3 text-uppercase">Créer un nouveau utilisateur</h5>
        <form #registerUserForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
                <label class="font-weight-bold"> Rôle d'utilisateur </label> <br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="roles" value="ROLE_ADMIN" #roles="ngModel"
                        required [(ngModel)]="registerUserData.roles">
                    <label class="form-check-label"> Admin </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="roles" value="ROLE_PRO" #roles="ngModel" required
                        [(ngModel)]="registerUserData.roles">
                    <label class="form-check-label"> Professionel </label>
                </div>
                <small *ngIf="registerUserForm.controls.roles?.invalid && registerUserForm.controls.roles?.touched"
                    class="text-danger">
                    Un rôle est obligatoire
                </small>
            </div>
            <div class="form-group">
                <label class="font-weight-bold"> Prénom </label>
                <input type="text" name="firstname" #firstname="ngModel" [(ngModel)]="registerUserData.firstname"
                    class="form-control" required [class.is-invalid]="firstname.invalid && firstname.touched">
                <small *ngIf="firstname.invalid && firstname.touched" class="text-danger"> Votre prénom est obligatoire
                </small>
            </div>
            <div class="form-group">
                <label class="font-weight-bold"> Nom </label>
                <input type="text" name="lastname" #lastname="ngModel" [(ngModel)]="registerUserData.lastname"
                    class="form-control" required [class.is-invalid]="lastname.invalid && lastname.touched">
                <small *ngIf="lastname.invalid && lastname.touched" class="text-danger"> Votre nom est obligatoire
                </small>
            </div>
            <div *ngIf="registerUserData.roles == 'ROLE_PRO'">
                <div class="form-group">
                    <label class="font-weight-bold"> Email </label>
                    <input type="email" name="email" #email="ngModel" [(ngModel)]="registerUserData.email"
                        class="form-control" required
                        [class.is-invalid]="email.invalid && email.touched">
                    <small *ngIf="email.invalid && email.touched" class="text-danger"> Votre email est obligatoire </small>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold"> Téléphone </label>
                    <input type="text" name="tel" #tel="ngModel" [(ngModel)]="registerUserData.tel" class="form-control"
                        required
                        [class.is-invalid]="tel.invalid && tel.touched">
                    <small *ngIf="tel.invalid && tel.touched" class="text-danger"> Votre Téléphone est obligatoire </small>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold"> N° SIRET </label>
                    <input type="text" name="siretNumber" #siretNumber="ngModel" [(ngModel)]="registerUserData.siretNumber"
                        class="form-control" required
                        [class.is-invalid]="siretNumber.invalid && siretNumber.touched">
                    <small *ngIf="siretNumber.invalid && siretNumber.touched" class="text-info"> Le Siret n'est pas
                        obligatoire si compte pour Admin</small>
                </div>
            </div>

            <input type="submit" value="Valider" class="btn btn-primary form-control"
                [disabled]="registerUserForm.invalid">
        </form>
    </div>
</div>