<div class="conatiner">
    <div class="row justify-content-around">
        <div class="card col-md-6 col-sm-10 p-0">
            <div class="card-header h1 text-bolder text-center"> Annonce : {{advert.title}} </div>
            <div class="refClass d-flex justify-content-around">
                <span class="text-center"> Référence à retenir: {{ advert.id }} </span>
                <a class="stretched-link" routerLink="/annonce"> Retourner </a>
            </div>

            <div class="card-body p-0">
                <div class="bg-dark mt-3 mb-5">
                    <div id="advertCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
                        <ol class="carousel-indicators">
                            <li data-target="#advertCarousel"
                                *ngFor="let photo of photos; index as i; let isFirst = first" [attr.data-slide-to]="i"
                                [ngClass]="{'active' : isFirst}"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item d-flex justify-content-center"
                                *ngFor="let photo of photos; index as j; let isFirst = first"
                                [ngClass]="{'active' : isFirst}">
                                <img src="{{'data:image/jpg;base64,' + photo}}" class="img-fluid d-block">
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#advertCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#advertCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-10">
                        <h5 class="text-center h3 font-weight-bolder">Description</h5>
                        <p class="card-text my-3 px-3"> {{advert.description}} </p>

                    </div>
                    <div class="col-md-6 col-sm-10">
                        <ul class="list-group list-group-flush my-3">
                            <li class="list-group-item"> <label class="font-weight-bolder"> Année de Mise en
                                    circulation: </label> {{advert.year_started_at}}</li>
                            <li class="list-group-item"> <label class="font-weight-bolder"> Kilomètrage: </label>
                                {{advert.km}}</li>
                            <li class="list-group-item"> <label class="font-weight-bolder"> Prix: </label>
                                {{advert.price}} EURO</li>
                            <li class="list-group-item"> <label class="font-weight-bolder"> Type d'essence: </label>
                                {{advert.fuel["type"]}}</li>
                            <li class="list-group-item"> <label class="font-weight-bolder"> Marque de voiture: </label>
                                {{advert.model["brand"]["name"]}}</li>
                            <li class="list-group-item"> <label class="font-weight-bolder"> Model de voiture: </label>
                                {{advert.model["name"]}}</li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
        <!-- <div class="col-md-4">
            <div *ngFor="let photo of photos">
                <img src="{{'data:image/jpg;base64,' + photo}}" class="img-fluid">
            </div>
        </div> -->
    </div>
</div>